.formControl.error input,
.formControl.error textarea
{
    border: solid blue 2px;
}
.formControl.error span
{
    color:blue;
}
.formSummaryError
{
    border: solid blue 5px;
    color:brown;
    padding: 5px;
}