.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogItems {
    color: white;
    padding: 10px;
}

.dialogItems .active {
    color: gold;
}
.messages {
    padding: 100px;
}

.messages {
    padding: 100px;
}
